<div class="shopping-cart-container y-scrollable">
    <h4 class="shopping-cart-container__title">Shopping cart</h4>
    <div class="shopping-cart-container__detail">
        <div *ngFor="let product of products">
            <div *ngIf="product.ammount > 0">
                <app-cart-item [cartProduct]="product"
                (onRemoveProductFromCartItem)="removeProductFromCart($event)"
                (onAddProductFromCartItem)="addProductFromCart($event)"></app-cart-item>
            </div>
        </div>
    </div>
</div>
