<div *ngIf="product" class="y-scrollable product-container" >
    <app-page-header title={{product.product.name}}></app-page-header>
    <div class="back">
        <button class="back__button" (click)="navigateToProductList()">
            volver</button>
    </div>
    <div class="product">
        <div layout="flex" appproducthover="product">
            <div>
                <img src={{product.product.image}} class="product__image"/>
                <div>
                    <p class="product__description">{{product.product.name}}</p>
                    <p class="product__description">{{product.product.description}}</p>
                    <p class="product__description">{{product.product.price}}</p>
                    <!-- <h5 class="product__description">Description</h5>
                    <p class="product__description">{{product.product.description}}</p>
                    <h5 class="product__description">Instructions</h5>
                    <p class="product__description">{{product.product.instruct1}}</p>
                    <p class="product__description">{{product.product.instruct2}}</p>
                    <p class="product__description">{{product.product.instruct3}}</p>
                    <p class="product__description">{{product.product.instruct4}}</p>
                    <p class="product__description">{{product.product.instruct5}}</p>
                    <p class="product__description">{{product.product.instruct6}}</p>
                    <p class="product__description">{{product.product.instruct7}}</p>
                    <p class="product__description">{{product.product.instruct8}}</p>
                    <p class="product__description">{{product.product.instruct9}}</p>
                    <p class="product__description">{{product.product.instruct10}}</p>
                    <p class="product__description">{{product.product.instruct11}}</p>
                    <p class="product__description">{{product.product.instruct12}}</p>
                    <p class="product__price">{{product.product.category}}</p> -->
                </div>
            </div>
            <div>
                <button (click)="navigateToEditProduct(product.product.id)">
                    Editar</button>
                <button (click)="navigateToDeleteProduct(product.product.id)">
                    Borrar</button>
    
            </div>
        </div>
    </div>
    <div class="create">
        <button (click)="navigateToCreateProduct()">Crear</button>
    </div>
</div>
