mat-toolbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height:50px;
    -webkit-box-shadow: 0px 3px 2px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 2px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 3px 2px rgba(0,0,0,0.75);
}

.title {
    margin: 0 10px;
    text-decoration: none;
    color:#222;
    display: flex;
    height:50px;
    line-height: 50px;

    h1{
        font-family: 'Fasthand', cursive;
        font-size:36px;
        line-height: 50px;
    }
}

.menu {
    display: flex;
    &__item {
        list-style: none;
        margin: 0px 10px;
        text-decoration: none !important;
        &__link {
            color:#222;
            display: inline-block;
            padding:5px 8px;
            padding-bottom: 0;
            text-decoration: none;
            cursor: pointer;
            border-bottom:4px dotted black;

            &:hover {
                border-bottom:4px dotted turquoise;
            }
        }
    }
}
.link {
    &--active{
        border-bottom:4px solid turquoise;
    }

}
.hidden {
    display: none;
}