/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.full-width-container{
    width:90%;
    box-sizing: border-box;
    margin-left: 5%;
    margin-bottom:50px;
    border-radius: 5px;
    border:1px solid black;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.button{
    padding:5px;
    border:1px dotted black;
    margin:0 15px;
    text-transform: uppercase;
    background-color: lightseagreen;
    &:hover{
        background-color: turquoise;
        border: 1px solid black;
    }
}
.home-banner{
    background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0.92), rgba(117, 19, 93, 0.0),rgba(255, 255, 255, 0.8)),
    url("../assets/home/home-banner.png");
    background-size: cover;
    height: 400px;
    background-position: 50% 50%;
}
.bg-primary{
    background-color: white;
}
.first-section{
    margin-top:20px;
}
.y-scrollable{
    overflow-y: scroll;
    height: 100%;
}
.y-scrollable::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}