  <form
  class="app-form"
  *ngIf="productFormGroup"
  [formGroup]="productFormGroup"
  (submit)="handleProduct()"
  >
    <p>
      <mat-form-field class="app-form__item" appearance="outline">
        <mat-label>Nombre de la tarta</mat-label>
        <input  type="text" matInput
          placeholder="Ñam! ¿Cómo se llama la nueva tarta?"
          formControlName="name">
        <mat-error *ngIf="productFormGroup.controls['name'].invalid">{{getErrorMessage("name")}}</mat-error>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>El nombre que verán tus clientes.</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="app-form__item" appearance="outline">
        <mat-label>Descripción de la tarta</mat-label>
        <textarea matInput
          placeholder="Estamos deseando saber cómo es."
          formControlName="description"></textarea>
        <mat-error *ngIf="productFormGroup.controls['description'].invalid">{{getErrorMessage("description")}}</mat-error>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>La descripción disponible en la web.</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="app-form__item" appearance="outline">
        <mat-label>Precio</mat-label>
        <input matInput
          type="number"
          placeholder="Placeholder"
          formControlName="price">
        <mat-error *ngIf="productFormGroup.controls['price'].invalid">{{getErrorMessage("price")}}</mat-error>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="app-form__item" appearance="outline">
        <mat-label>Stock</mat-label>
        <input matInput
          type="number"
          placeholder="Placeholder"
          formControlName="stock">
          <mat-error *ngIf="productFormGroup.controls['stock'].invalid">{{getErrorMessage("stock")}}</mat-error>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="app-form__item" appearance="outline">
        <mat-label>Imagen</mat-label>
        <input matInput
          type="url"
          placeholder="Placeholder"
          formControlName="image">
          <mat-error *ngIf="productFormGroup.controls['image'].invalid">{{getErrorMessage("image")}}</mat-error>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <button type="submit">Crear</button>
    <p class="control_error" *ngIf="hasFormError">Revisa el formulario, hay errores</p>
    <p class="control_success" *ngIf="hasSuccess">Se han creado los datos</p>
  </form>