<div class="full-width-container bg-primary">
    <div class="section" [ngClass]="{'mobile': isMobile === true}">
        <app-section-header title={{title}}></app-section-header>
        <div class="section-content"
            [ngClass]="
                {
                    'section-content-left': imagePosition == 'left',
                    'mobile-content': imagePosition != 'left' && isMobile === true,
                    'mobile-left': imagePosition == 'left' && isMobile === true
                }">
            <div *ngIf="imagePosition === 'Left' || imagePosition === 'left'">
                <app-section-image imageUrl={{imageUrl}}></app-section-image>
            </div>
            <div *ngIf="description">
                <app-section-description
                    *ngIf="description"
                    description={{description}}>
                </app-section-description>
            </div>
            <div *ngIf="imagePosition === 'Right' || imagePosition === 'right'">
                <app-section-image imageUrl={{imageUrl}}></app-section-image>
            </div>
        </div>
        <app-button *ngIf="showButton" text={{buttonText}} url={{buttonUrl}}></app-button>
    </div>
</div>