.main-container{
    position: fixed;
    top:50px;
    left:0;
    padding:16px 0;
    padding-top: 24px;
    height:calc(100% - 60px);
    overflow-y: hidden;
    background-image: url("../assets/pattern.png");
    background-repeat: repeat;
    background-size: 350px 350px;
    background-blend-mode: luminosity;
    width: 100%;
    box-sizing: border-box;
    padding-top:80px;
}

.hidden{
    display:none;
}

