app-product-list{
    width:100%;
}
.products-list{
    height: calc(100vh - 380px);
    background-color: turquoise;
    overflow-y: scroll;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */

}
.shopping-cart{
    position:fixed;
    left:0;
    top:50px;
    width:100%;
    box-sizing: border-box;
    height:calc(100% - 50px);
    padding: 50px 20px;
    z-index:7777;
    background-color: turquoise;
    &__button{
        text-align: center;
        background-color: transparent;
        border:2px solid black;
        position:fixed;
        z-index:8888;
        bottom:80px;
        right:30px;
        border-radius: 50%;
        height:40px;
        width:40px;
        display: flex;
        align-items: center;
        background-color: turquoise;

        &:hover{
            background-color: aquamarine;
        }
    }
}

mat-icon{
    flex-grow: 1;
}
