.section-description{
    font-size:1.5rem;
    line-height: 3rem;
}
.mobile{
    font-size:0.8rem;
    line-height: 1.6rem;
    width:80%;
    margin: 0 auto;
    margin-bottom:20px;
    text-align: center;
}