.product{
    display: flex;
    margin-bottom: 15px;
    border:1px solid #090909;
    border-radius:2px;
    object-fit: fill;
    &__container {
        display: grid;
        grid-template-columns: 50% 50%;
        object-fit: fill;
        padding:10px 20px;
        justify-content: space-around;
        &:hover{
            background-color: aquamarine;
        }
    }
    &__name {
        font-weight: bold;
    }
    &__button {
        border:none;
        padding:8px;

        &--remove {
            background-color: salmon;
            font-weight: bold;
        }
    }
    &__image {
        display: block;
        height: 250px;
        border-radius: 10px;
    }
}
