<div
    *ngIf="product"
    class="product"
>
<a 
    [ngStyle]="{'background-color': (product.ammount > 0) ? '#73c7af' : '#000000'}"
>
    <div layout="row">
        <p class="product__name">{{product.name}}</p>
        <span [ngStyle]="{'opacity': (product.ammount > 0) ? 1 : 0}">{{product.ammount}}</span>
    </div>
    <p class="product__description">{{product.description}}</p>
    <p class="product__price">{{product.price}}</p>

<app-product-ammount
        (onAdd)="addProduct()"
        (onRemove)="removeProduct()"
></app-product-ammount>

</a>

</div>