.product{

    margin-bottom: 15px;
    border:1px solid #090909;
    border-radius:2px;
    &__container {
        padding:10px 20px;
        justify-content: space-around;
    }
    &__right__column {
       text-align: center;
    }
    &__name {
        font-weight: bold;
    }
    &__button {
        border:none;
        padding:8px;

        &--remove {
            background-color: salmon;
            font-weight: bold;
        }
    }
    &__image {
        display: block;
        height: 100px;
        border-radius: 10px;
    }
}
