app-product{
    width:20%;
}
.product{
    display: flex;
    margin-bottom: 15px;
    border:1px solid #090909;
    border-radius:2px;
    height: 90%;
    box-sizing: border-box;
    align-self: flex-start;
    &__container {
        display: grid;
        grid-template-columns: 450px;
        padding:10px 20px;
        justify-content: space-around;
        &:hover{
            background-color: aquamarine;
        }
    }
    &__name {
        font-weight: bold;
    }
    &__button {
        border:none;
        padding:8px;

        &--remove {
            background-color: salmon;
            font-weight: bold;
        }
    }
    &__image {
        display: block;
        width: 50%;
        margin: 0 auto;
        border-radius: 10px;
    }
}
