.products-title{
    position:fixed;
    top: 50px;
    height:35px;
    left:0;
    width:100%;
    font-weight: 400;
    background-color: aquamarine;
    font-size: 1rem;
    text-align: center;
    margin:0;
}
.products-list{
    height: calc(100vh - 220px);
    overflow-y: scroll;
}