  <footer class="mat-toolbar-single-row">
    <div>
      <a href="https://coreui.io/pro/angular/" target="_blank">CoreUI</a>
      <span> &copy; 2021 creativeLabs</span>
    </div>
    <div class="ms-auto">
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </div>
  </footer>