<div class="y-scrollable">
    <app-section class="first-section"
        bgClass="home-banner"
        title="Welcome"
        description="=">
    </app-section>
    <app-two-columns-section title="High Cuisine: Innovative Cannabis Recipes for Foodies"
        description="This website offers access to various recipes that utilize cannabis in innovative ways, from infused oils and tinctures to baked goods and savory dishes. New CBD recipes are added every month."
        imageUrl="./assets/home/new-recipes.png" imagePosition="right" buttonText="See all the recipes"
        buttonUrl="products-list">
    </app-two-columns-section>
    <app-two-columns-section title="Discover New CBD Recipes Every Month"
        description="At our website, we are dedicated to bringing you the latest and greatest in CBD-infused cooking. Each month, we release a new batch of recipes that showcase the versatility and deliciousness of cooking with CBD."
        imageUrl="./assets/home/new-recipes-every-month.png" imagePosition="left"
        buttonText="Subscribe to the newsletter" buttonUrl="contact">
    </app-two-columns-section>
</div>