.section-header{
    max-width: 70%;
    font-size: 3.5rem;
    font-family: 'Fasthand', cursive;
    text-align: center;
    font-weight: 500;
    line-height: 3.5rem;
    margin: 50px auto;
    margin-bottom:20px;
}
.mobile{
    font-size: 1.5rem;
    line-height: 2.5rem;
}