<div *ngIf="data" class="recipe">
    <div class="recipe__container">
            <div>
                <div>
                    <img flex="100" src={{data.image}} class="recipe__image" />
                    <p class="recipe__name text-center">{{data.title}}</p>
                    <!-- <p class="product__description">{{product.product.description}}</p> -->
                    <!-- <p class="recipe__price">{{data.category}}</p> -->
                </div>
                <div>
                    <!-- <button class="button primary" (click)="addProduct()"> Add To cart</button> -->
                    <!-- <button class="button primary" (click)="navigateToDetail(data.id)" target="_blank"> MoreInfo</button> -->
                </div>
            </div>
    </div>
</div>